<h1> Raffler </h1>

<!--<div ng-controller="RaffleCtrl"> -->
<div ng-controller="RaffleCtrl">
  <div >
    <form>
      <input type="text" ng-model="newEntry.name">
    </form>

{{ newEntry.name }}
  </div>
</div>