user <%= @user.nickname %>
<br>
<%# binding.pry %>
<%= image_tag(@user.avatar) %>

<% if @user == current_user %>
  <%= form_for @user, html: { multiupart: true } do |f| %>
    <%= f.file_field :avatar, {class: 'file_input', onchange: "pressed()"} %>
    <%= text_field_tag :watermark, nil, :placeholder=>'текст водного знака'  %>
    <%= f.submit 'Сохранить аватар', { :method => 'get', id: 'btn-upload', class: 'btn btn-sm' } %>
  <% end %>
<% end %>
<br>
<img class="hiddendiv" id="preview" src="#" alt="your image" />


