<nav class="nav navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "home", posts_path %>
    </div>

    <ul class="nav navbar-nav pull-right ">
      <li ><%= link_to "api_v1_posts", api_v1_posts_path(:json), :method => 'get' %></li>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user.id) %>
        <li ><%= link_to "Выйти", destroy_user_session_path, :method => 'delete', id: "aquit" %></li>
      <% else %>
        <li ><%= link_to "Войти", new_user_session_path, :method => 'create' %></li>
      <% end %>
    </ul>
  </div>
</nav>
