<h1>Report</h1>

<table border="1px solid">
  <thead>
    <tr>
      <th>nickname</th>
      <th>email</th>
      <th>количество записей за период</th>
      <th>количество комментариев за период</th>
    </tr>
  </thead>
  <% @rep_array.each do  |row| %>
    <tr>
      <td> <%= row[:nickname] %> </td>
      <td> <%= row[:email] %> </td>
      <td> <%= row[:post_count] %> </td>
      <td> <%= row[:comments_count] %> </td>
    </tr>
  <% end %>
</table>

