<!DOCTYPE html>
<html ng-app>
<head>
  <title>Juntest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/header_menu' %>
<%= yield %>

</body>
</html>
